body {
    font-family: "Roboto Slab", serif;
    background-color: beige;
  }

/* 
*HEADER
*/
a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header {
    background-color: rgb(240, 236, 236);
    border: black solid 5px;
    display: flex;
    align-items: center;
    position: relative;
    width: 99%;
    height: 100px;

    margin-bottom: 20px;
  
  }
  
  header a {
    color: black;
  }
  
  .site-title {
    font-family: "Roboto Slab", serif;
    font-size: 100px;
    font-weight: 100;
    font-style: bold;
    text-shadow: 2px 2px grey;
    white-space: nowrap;

    margin: auto;
    width: 50%;
  }
  
  .site-title a:hover {
    text-decoration: none;
  }
  
  .header-image-container {
    height: 100%;
    width: 170px;
  }
  
  .header-image-container img {
    height: 100%;
    width: 100%;
  }
  



/* 
* CONTENT
*/

.content {
  
}


/*
* BOX1
*/

.box {
    display: block;
}

/*  
* Main-Container
*/ 

.main-container {
    display: inline-flex;
}

/* 
* CHART
*/

.chart-container {
    position: relative;
    background-color:  rgb(240, 236, 236);
    border: black solid 1px;

    width: 240px;
    height: 325px;

    margin: 5px;

    border-radius: 3px;

    margin-left: 125px;
}


/* 
* IO
*/

.IO-container {
    position: relative;
    background-color:  rgb(240, 236, 236);
    border: black solid 1px;

    width: 650px;
    height: 325px;

    margin: 5px;

    border-radius: 3px;

    margin-left: 35px;
}


/*
* Button 
*/

.button-container {
    display: inline-flex;
    position: relative;
    
}



.buttonstyle {
    height: 50px;
    width: 50px;

    width: 215px;
    height: 50px;
    margin: 5px;

    border-radius: 5px;

    font-size: large;

    cursor: pointer;
}

#reset {
    margin-left: 565px;
}

#convert {
    margin-left: 60px;
}


#information {
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------------------------------------------------------------------------- */


/*
* IO interface
*/

.IO-box {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 40px;
    width: 500px;
}

.filter-input-label {
    margin-left: 15px;
    font-size: xx-large;  
}


.I-style {
    width: 350px;
    height: 32px;
    margin-left: 32px;
}

.O-style {
    width: 355px;
    height: auto;
    background-color: white;
    border-radius: 3px;
    border: black solid 1px;
    margin-left: 10px;

    padding: 10px;
}


.select-container {
    margin-left: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
}

.dropdown-menu {
    margin-left: 10px;
    width: 120px;
}
/*
* Chart interface
*/

h3 {
    font-size:x-large;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}


.box2 {

    height: 50px;
    width: 220px;
    background-color: white;
    border: black solid 3px;
    margin: 10px;
    display: flex;
    cursor: pointer;

}

span.box2-text {
    margin: auto;
}



/*
 * Modal Templates 
 */

 #modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none;
}



.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 450px;
  margin: 40px auto;
  background-color: white;
  border-radius: 10px;
}

#modal-close-2,
#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}

/*
* About page
*/

#chart-page, 
#about-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.about-header {
  padding-top: 5px;
  padding-left: 5px;
  position: relative;

}

.about-header h3 {
  margin: 5px;
  font-size: 28px;
  background-color: lightgrey;
}

.chart-body {
  margin: 5px;
  width: 500px;
  min-height: 400px;

}

.about-body {
  margin: 5px;
  width: 575px;
  min-height: 700px;

}

.para-containers {
  word-wrap: break-word;
}

h2 {
  text-decoration: underline;
  background-color: lightgray;
  border-radius: 5px;
  border: black solid 1px;
  text-align: center;
}